.message {
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 15px auto;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.success {
  composes: message;
  background-color: #009a00;
  color: white;
}

.error {
  composes: message;
  background-color: #f39c12;
  color: white;
}
