.scoreBtn {
  width: 50%;
}

.scoreBtn.selected {
  border: 1px solid red;
}

/*
.configBtn {

}

.simulateBtn {

}

.orderBtn {

}
*/

.typeDropdown {
  width: 100%;
}

.typeDropdown p {
  width: 50%;
  text-align: right;
  display: inline-block;
}

.typeDropdown select {
  width: 50%;
  display: inline-block;
}
