.previewImg {
  background-image: url('https://openclipart.org/image/2400px/svg_to_png/231068/3D-Isometric-Cardboard-Box.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 410px;
}
