.label {
  display: block;
  color: white;
  background-color: #4ca0ff;
  padding: 5px;
  border-radius: 8px;
  width: 235px;
  margin: 5px;
  font-size: 15px;
}

.errorLabel {
  composes: label;
  background-color: red;
}

.input {
  text-align: center;
  display: block;
  border: 1px solid lightGray;
  padding: 5px;
  font-size: 15px;
  height: 36px;
  width: 100%;
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.errorInput {
  composes: input;
  border: 1px solid #e43e2d;
}

.container {
  margin: 5px;
}

.featureHeader {
  background-color: #979797;
  color: white;
  padding: 10px;
  text-align: center;
}

.featureBody {
  border-top: none;
  padding: 10px;
}

.feature {
  margin-bottom: 15px;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
