.label {
  display: block;
  color: white;
  background-color: #4ca0ff;
  padding: 5px;
  border-radius: 8px;
  width: 235px;
  margin: 5px;
  font-size: 15px;
}

.errorLabel {
  composes: label;
  background-color: red;
}

.input {
  text-align: center;
  display: block;
  width: 235px;
  border-radius: 4px;
  border: 1px solid lightGray;
  padding: 5px;
  font-size: 15px;
  height: 25px;
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.errorInput {
  composes: input;
  border: 1px solid red;
}

.container {
  margin: 5px;
}
