.label {
  display: block;
  color: white;
  background-color: #4ca0ff;
  padding: 5px;
  border-radius: 8px;
  width: 230px;
  margin: 5px;
  font-size: 15px;
}

.errorLabel {
  composes: label;
  background-color: red;
}

.select {
  margin: 0;
}

.select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.errorSelect {
  composes: select;
}

.errorSelect div {
  border-color: red;
}

.select span > span {
  font-size: 30px !important;
}

.featureHeader {
  background-color: #979797;
  color: white;
  padding: 10px;
  text-align: center;
}

.featureBody {
  border-top: none;
  padding: 10px;
}

.feature {
  margin-bottom: 15px;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
