.trigger {
  cursor: pointer;
  display: block;
  color: white;
  background-color: #009a00;
  padding: 10px 15px;
  margin: 0 1% 0 0;
  border: none;
  outline: none;
  float: right;
  transition: background-color 0.5s;
}

.trigger:hover {
  background-color: #05c105;
}
