.trigger {
  cursor: pointer;
  display: block;
  color: white;
  background-color: #009a00;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 5px auto;
  font-size: 15px;
  border: none;
  outline: none;
}
